.tatami-num-button-container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.button-row {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}
.tatami-num-button {
  padding: 10px;
  color: white;
  background-color: #333;
  font-size: 20px;
  border: solid white 2px;
  border-radius: 10px;
  margin: 10px;
  min-width: 110px;
}
.selected-button-title-container {
  text-align: center;
  padding: 10px;
}

.selected-button-title-text {
  font-size: 20px;
  color: #333;
}

@media (min-width: 1024px) {
  .selected-button-title-text {
    font-size: 25px;
  }
}
